<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Todo List</title>
</head>
<body>
     <main>
          <div>
               <h1>My Lists</h1>
          <table>
               <thead>
                    <tr>
                         Name
                         Number of Items
                    </tr>
               </thead>
               <tbody>
                    {% for todo in list_object.items.all %}
                    <tr>
                         <td>{{ todolist.name }}</td>
                    </tr>
                    {% endfor %}
               </tbody>
           </table>
           </div>
     </main>            
</body>
</html>